.page-box {
  position: relative;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}

.response-table {
  border-collapse: separate;
  border: solid;
  table-layout: fixed;
}

td,
th {
  width: 9rem;
  padding: 0.5rem 5rem 0.5rem 5rem;
  border: 1px solid rgb(0, 0, 0);
}
