.page-box {
  position: relative;
  display: flex;
  justify-content: center;

  flex-direction: column;
}

.features-box {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 25% 0 25%;
}

.features-box p {
  display: inline;
}

.image-box {
  position: relative;
  display: flex;
  justify-content: center;
}

.image-text-top {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10%;
  font-style: italic;
}

.image-text-bottom {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10%;
  font-style: italic;
}

.features-box .btn-secondary {
  margin: 10px;
}

.features-box label {
  margin: 0 0.5rem 0 0.5rem;
}

.random-gen-btn {
  display: flex;
  justify-content: center;
}
