.dashboard .grid-content {
  padding-left: 3.8rem;
  height: 100vh;
  display: block;
  background-color: #ffffff;
}

/* .nav {
    padding-left: 2.8rem;
  } */

.grid-content {
  padding: 4rem 1.2rem 1.2rem 1.2rem;
}

.grid-container {
  grid-template-columns: 1fr 1fr 2fr;
}

.flex {
  display: grid;
  gap: 8px;
}

.flex .card-horizontal {
  max-height: fit-content;
}

.card-horizontal input {
  position: absolute;
  top: 10px;
  right: 10px;
}

.pos-sticky {
  position: sticky;
  top: 1.2rem;
}

.item {
  cursor: pointer;
}
